@model BankingModels.Model.CardInfo

@{
    ViewData["Title"] = "Проверка пин кода";
}
    <h4>Номер карты: @Html.DisplayFor(model => model.CardNumber)</h4>
    <hr />
   <div class="row text-center centerDiv">
            <form asp-action="CheckPinCode" asp-controller="Home" asp-anti-forgery="true" method="post">
                <div class="validation" asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <div class="form-group">
                         <label asp-for="CardPinCode" class="control-label">Введите пинкод карты</label>
                         <input id="cardPinCode" asp-for="CardPinCode" class="form-control" />
                         <span asp-validation-for="CardPinCode" class="text-danger"></span>
                    </div>
                    
                   <div>
                      <table class="tableKeyboard">
                      @for(int i = 9; i>=1; i-=3)
                        {
                            <tr>
                                @for(int j = (i - 2); j <= i; j++)
                                {
                                    <td><button type="button" class="btnKeyboard">@j</button></td>
                                }
                            </tr>
                        }
                        <tr><td colspan="3"><button type="button" class="btnKeyboard" >0</button></td></tr>
                      </table>
                     </div>


                    <div class="form-group">
                         <input type="button" id="clearPinButton" value="Очистить" class="btn btn-primary btnClear" />
                        <input type="submit"  value="Ок" class="btn btn-primary" />
                    </div>
                </div>
                </form>
</div>
