/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*make dive center*/
.centerDiv{
    align-content:center;
    margin-left: 35%;
}

/*Button style*/
.btnOperations {
    display: inline-block;
    padding: 0 24px;
    margin: 0 15px 15px 0;
    border: none;
    border-radius: 3px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align:center;
    color: black;
    background-color: #fff;
    touch-action: manipulation;
    transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}

    .btnOperations:focus-visible {
        box-shadow: 0 0 0 3px lightskyblue;
    }

    .btnOperations:hover {
        box-shadow: 0 1px 1px 0 #cfcfcf, 0 2px 5px 0 #cfcfcf;
    }

    .btnOperations:active {
        background-color: #efefef !important;
    }

    .btnOperations:disabled {
        background-color: #eee;
        color: #444;
        pointer-events: none;
    }
    a{
        text-decoration:none;
    }

.btnsDivOperation{
    display:flex;
    flex-direction:column;
    margin: 20px;
}

.btnClear{
    background-color: transparent;
    color: black;
}

