@{
    ViewData["Title"] = "Страница операций";
}

<head>
     <link rel="stylesheet" href="~/css/site.css" />
</head>

     <div class="btnsDivOperation">
         <a asp-action="Balance" class="btnOperations aDecor">Баланс</a>
         <a asp-action="WithdrawMoney" class="btnOperations aDecor">Снятие денег</a>
         <a asp-action="Exit" class="btnOperations aDecor">Выход</a>
    </div>
